@media screen and (min-width: 320px) 
{
    #tele{width: 215px;}
    .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .bg-light {background-color: #00b0f0 !important;}
    #fonte-cor {color:white; font-weight: lighter;}
    .formulario {width: 265px; position: relative; left: 25px; top: 40px;}
    .btn-enviar {float: left; position: relative; left: 70px; bottom: -10px;}
    .quem-somos {width: 320px; position: relative; left: 20px; top: 10px;}
    p {text-align: justify;}
    .foto{position: relative; left: 0px; bottom: 0px; margin-bottom: 20px;}
    .btn-direita {position: relative; left: 110px; text-align: center;}
    .logo {position: relative; left: 0px; top: 40px; display: none;}
    .logo2 { margin-bottom: 50px; margin-top: 120px;}
    .all {position: relative; bottom: 17px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px; left: 75px;}
    .itens2 {position: relative; bottom: 62px; right: 90px;}
    .itens3 {position: relative; bottom: 60px;}
    .assinar2 {position: relative; bottom: 25px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .label-text {display:none;}
    #cidades {background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    #form-group {background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 70px;} 
    .form-text {background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    .color-plan {color: #00b0f0;}
    .modal-content {position: relative; right: 0px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 102%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    #ler {position: relative; width: 150px;}
    .pesquisa-anunciar {position: relative; left: 20px; width: 280px; text-align: center; font-size: 30px; top: 25px;}
    .whats {position: relative; margin-top: -60px; left: 200px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 8px; margin-left: 10px;}
    .item-nome {font-size: 14px; font-weight: bold; font-size: 10px; margin-left: 10px; }
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 3px; padding-left: 3px; padding-top: 3px; padding-right: 3px;}
    .anuncio-col {position: relative; padding-right: 15px; padding-left: 15px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 5px; right: 6px; font-size: 10px; padding-left: 5px; padding-right: 5px; margin-left: 200px; margin-top: -36px; width: 80px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .total {width: 250px; text-align: center;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #button{background-color: #00b0f0 !important;}
    .btn.btn-lg {background-color: #00b0f0; color: white;}



.btn-azul{
    background-color: #00b0f0;
    color: white;
   
    left: 70px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: left;
    left: 90px;
    position: relative;


}



}

@media screen and (min-width: 360px)
{   .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .bg-light {background-color: #00b0f0 !important;}
    #fonte-cor {color:white; font-weight: lighter;}
    .formulario {width: 265px; position: relative; left: 40px; top: 40px;}
    .btn-enviar {float: left; position: relative; left: 70px; bottom: -10px;}
    .quem-somos {width: 320px; position: relative; left: 20px; top: 10px;}
    p {text-align: justify;}
    .foto{position: relative; left: 0px; bottom: 0px; margin-bottom: 20px;}
    .btn-direita {position: relative; left: 110px; text-align: center;}
    .logo {position: relative; top: 40px; display: none;}
    .logo2 {position: relative;  margin-bottom: 20px; margin-top: 120px;}
    .all {position: relative; bottom: 17px; margin-left: 10px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 0px;}
    .itens1 {position: relative; bottom: 35px; left: 75px;}
    .itens2 {position: relative; bottom: 62px; right: 90px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .label-text {display:none;}
    #cidades{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 70px; bottom: 15px;}
    .form-text{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    .color-plan { color: #00b0f0;}
    .modal-content {position: relative; right: 0px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 102%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    #ler {position: relative; width: 150px;}
    .pesquisa-anunciar {position: relative; left: 20px; width: 280px; text-align: center; font-size: 30px; top: 25px;}
    .whats {position: relative; margin-top: -60px; left: 255px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 9px; left: 10px;}
    .item-nome {font-size: 12px; font-weight: bold;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 3px; padding-left: 3px; padding-top: 3px; padding-right: 3px;}
    .anuncio-col {position: relative; padding-right: 15px; padding-left: 15px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 5px; right: 6px; font-size: 10px; padding-left: 5px; padding-right: 5px; margin-left: 200px; margin-top: -36px; width: 80px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 260px; border-radius: 3px; margin-left: 30px;color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .total {width: 250px; text-align: center;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #button{background-color: #00b0f0 !important;}
    .exclusivo {font-size: 15px;}

.btn-azul{
    background-color: #00b0f0;
    color: white;
   
    left: 85px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: left;
    left: 105px;
    position: relative;


}






}

@media screen and (min-width: 411px)
{   .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .bg-light {background-color: #00b0f0 !important;}
    #fonte-cor {color:white; font-weight: lighter;}
    .formulario {width: 265px; position: relative; left: 65px; top: 40px;}
    .btn-enviar {float: left; position: relative; left: 70px; bottom: -10px;}
    .quem-somos {width: 320px; position: relative; left: 20px; top: 10px;}
    p {text-align: justify;}
    .foto{position: relative; left: 0px; bottom: 0px; margin-bottom: 20px;}
    .btn-direita {position: relative; left: 110px; text-align: center;}
    .logo {position: relative; top: 40px;}
    .logo2 {position: relative;  margin-bottom: 20px; margin-top: 120px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px; left: 75px;}
    .itens2 {position: relative; bottom: 62px; right: 90px;}
    .itens3 {position: relative; bottom: 60px;}
    .assinar2 {position: relative; bottom: 25px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .label-text {display:none;}
    #cidades{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 70px; bottom: 15px;}
    .form-text{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    .color-plan { color: #00b0f0;}
    .modal-content {position: relative; right: 0px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 102%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    #ler {position: relative; width: 150px;}
    .pesquisa-anunciar {position: relative; left: 20px; width: 280px; text-align: center; font-size: 30px; top: 25px;}
    .whats {position: relative; margin-top: -60px; left: 300px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 11px;}
    .item-nome {font-size: 14px; font-weight: bold;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 3px; padding-left: 3px; padding-top: 3px; padding-right: 3px;}
    .anuncio-col {position: relative; padding-right: 15px; padding-left: 15px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 5px; right: 6px; font-size: 10px; padding-left: 5px; padding-right: 5px; margin-left: 200px; margin-top: -36px; width: 80px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #button{background-color: #00b0f0 !important;}

.btn-azul{
    background-color: #00b0f0;
    color: white;
   
    left: 120px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: left;
    left: 140px;
    position: relative;


}






}

@media screen and (min-width: 568px)
{
    .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .bg-light {background-color: #00b0f0 !important;}
    #fonte-cor {color:white; font-weight: lighter;}
    .formulario {width: 265px; position: relative; left: 145px; top: 40px;}
    .btn-enviar {float: left; position: relative; left: 70px; bottom: -10px;}
    .quem-somos {width: 520px; position: relative; left: 50px; top: 10px;}
    p {text-align: justify;}
    .foto{position: relative; left: 0px; bottom: 0px; margin-bottom: 20px;}
    .btn-direita {position: relative; left: -60px; text-align: center;}
    .logo {position: relative; top: 40px;}
    .logo2 {position: relative;  margin-bottom: 20px; margin-top: 120px;}
    .all {position: relative; bottom: 17px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px; left: 75px;}
    .itens2 {position: relative; bottom: 62px; right: 90px;}
    .itens3 {position: relative; bottom: 60px;}
    .assinar2 {position: relative; bottom: 25px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .label-text {display:none;}
    #cidades{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 70px; bottom: 15px;}
    .form-text{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    .color-plan { color: #00b0f0;}
    .modal-content {position: relative; right: 0px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 102%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    #ler {position: relative; width: 150px;}
    .pesquisa-anunciar {position: relative; left: 20px; width: 280px; text-align: center; font-size: 30px; top: 25px;}
    .whats {position: relative; margin-top: -60px; left: 450px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 11px;}
    .item-nome {font-size: 14px; font-weight: bold;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 3px; padding-left: 3px; padding-top: 3px; padding-right: 3px;}
    .anuncio-col {position: relative; padding-right: 15px; padding-left: 15px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 5px; right: 6px; font-size: 10px; padding-left: 5px; padding-right: 5px; margin-left: 200px; margin-top: -36px; width: 80px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #button{background-color: #00b0f0 !important;}


.btn-azul{
    background-color: #00b0f0;
    color: white;
   
    left: 120px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: left;
    left: 140px;
    position: relative;


}

}


@media screen and (min-width: 640px)
{
    .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .bg-light {background-color: #00b0f0 !important;}
    #fonte-cor {color:white; font-weight: lighter;}
    .formulario {width: 265px; position: relative; left: 180px; top: 40px;}
    .btn-enviar {float: left; position: relative; left: 75px; bottom: -10px;}
    .quem-somos {width: 520px; position: relative; left: 50px; top: 10px;}
    p {text-align: justify;}
    .foto{position: relative; left: 0px; bottom: 0px; margin-bottom: 20px;}
    .btn-direita {position: relative; left: -120px; text-align: center;}
    .logo {position: relative; top: 40px;}
    .logo2 {position: relative;  margin-bottom: 20px; margin-top: 120px;}
    .all {position: relative; bottom: 17px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px; left: 75px;}
    .itens2 {position: relative; bottom: 62px; right: 90px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .label-text {display:none;}
    #cidades{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 0px;}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 70px; bottom: 15px;}
    .form-text{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 0px;}
    .color-plan { color: #00b0f0;}
    .modal-content {position: relative; right: 0px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 102%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    #ler {position: relative; width: 150px;}
    .pesquisa-anunciar {position: relative; left: 20px; width: 280px; text-align: center; font-size: 30px; top: 25px;}
    .whats {position: relative; margin-top: -60px; left: 250px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 9px;}
    .item-nome {font-size: 14px; font-weight: bold;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 3px; padding-left: 3px; padding-top: 3px; padding-right: 3px;}
    .anuncio-col {position: relative; padding-right: 15px; padding-left: 15px;}
    .footer{ background-color: #00b0f0 !important; color: white; font-size: 14px;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 5px; bottom: 5px; right: 5px;}
    .btn.btn-lg.btn-danger {font-size: 15px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #button{background-color: #00b0f0 !important;}
    .total {width: 250px; text-align: -webkit-match-parent;}


.btn-azul{
    background-color: #00b0f0;
    color: white;
   
    left: -70px;
    position: relative;
    margin-bottom: 10px;
    width: 155px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: left;
    left: -45px;
    position: relative;


   }
}

@media screen and (min-width: 731px)
{
    .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .bg-light {background-color: #00b0f0 !important;}
    #fonte-cor {color:white; font-weight: lighter;}
    .formulario {width: 265px; position: relative; left: 230px; top: 40px;}
    .btn-enviar {float: left; position: relative; left: 75px; bottom: -10px;}
    .quem-somos {width: 320px; position: relative; left: 20px; top: 10px;}
    p {text-align: justify;}
    .foto{position: relative; left: 0px; bottom: 0px; margin-bottom: 20px;}
    .btn-direita {position: relative; left: -120px; text-align: center;}
    .logo {position: relative; top: 40px;}
    .logo2 {position: relative;  margin-bottom: 20px; margin-top: 120px;}
    .all {position: relative; bottom: 17px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px; left: 75px;}
    .itens2 {position: relative; bottom: 62px; right: 90px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .label-text {display:none;}
    #cidades{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 70px; bottom: 15px;}
    .form-text{ background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    .color-plan { color: #00b0f0;}
    .modal-content {position: relative; right: 0px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 102%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    #ler {position: relative; width: 150px;}
    .pesquisa-anunciar {position: relative; left: 20px; width: 280px; text-align: center; font-size: 30px; top: 25px;}
    .whats {position: relative; margin-top: -60px; left: 255px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 9px;}
    .item-nome {font-size: 14px; font-weight: bold;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 3px; padding-left: 3px; padding-top: 3px; padding-right: 3px;}
    .anuncio-col {position: relative; padding-right: 15px; padding-left: 15px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 5px; bottom: 32px; right: 4px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #button{background-color: #00b0f0 !important;}
    .total {width: 250px; text-align: center;}


.btn-azul{
    background-color: #00b0f0;
    color: white;
   
    left: 120px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: left;
    left: 140px;
    position: relative;


}

}

@media screen and (min-width: 740px)
{
    .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .bg-light {background-color: #00b0f0 !important;}
    #fonte-cor {color:white; font-weight: lighter;}
    .formulario {width: 265px; position: relative; left: 230px; top: 40px;}
    .btn-enviar {float: left; position: relative; left: 70px; bottom: -10px;}
    .quem-somos {width: 320px; position: relative; left: 20px; top: 10px;}
    p {text-align: justify;}
    .foto{position: relative; left: 0px; bottom: 0px; margin-bottom: 20px;}
    .btn-direita {position: relative; left: -120px; text-align: center;}
    .logo {position: relative; top: 40px;}
    .logo2 {position: relative;  margin-bottom: 20px; margin-top: 120px;}
    .all {position: relative; bottom: 17px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px; left: 75px;}
    .itens2 {position: relative; bottom: 62px; right: 90px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .label-text {display:none;}
    #cidades{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 70px; bottom: 15px;}
    .form-text{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    .color-plan { color: #00b0f0;}
    .modal-content {position: relative; right: 0px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 102%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    #ler {position: relative; width: 150px;}
    .pesquisa-anunciar {position: relative; left: 20px; width: 280px; text-align: center; font-size: 30px; top: 25px;}
    .whats {position: relative; margin-top: -60px; left: 255px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 11px;}
    .item-nome {font-size: 14px; font-weight: bold;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 3px; padding-left: 3px; padding-top: 3px; padding-right: 3px;}
    .anuncio-col {position: relative; padding-right: 15px; padding-left: 15px;}
    .footer{background-color: #00b0f0 !important; color: white; font-size: 14px;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 5px; right: 6px; font-size: 10px; padding-left: 5px; padding-right: 5px; margin-left: 200px; margin-top: -13px; width: 80px; }
    .btn.btn-lg.btn-danger {font-size: 15px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #button{background-color: #00b0f0 !important;}


.btn-azul{
    background-color: #00b0f0;
    color: white;   
    left: -75px;
    position: relative;
    margin-bottom: 10px;
    width: 155px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: left;
    left: -50px;
    position: relative;


}










}

@media screen and (min-width: 768px)
{
     .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .bg-light {background-color: #00b0f0 !important;}
    #fonte-cor {color:white; font-weight: lighter;}
    .formulario {width: 265px; position: relative; left: 250px; top: 40px;}
    .btn-enviar {float: left; position: relative; left: 70px; bottom: -10px;}
    .quem-somos {width: 320px; position: relative; left: 20px; top: 10px;}
    p {text-align: justify;}
    .foto{position: relative; left: 0px; bottom: 0px; margin-bottom: 20px;}
    .btn-direita {position: relative; left: -120px; text-align: center;}
    .logo {position: relative; top: 40px;}
    .logo2 {position: relative;  margin-bottom: 20px; margin-top: 120px;}
    .all {position: relative; bottom: 17px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px; left: 75px;}
    .itens2 {position: relative; bottom: 62px; right: 90px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .label-text {display:none;}
    #cidades{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 70px; bottom: 15px;}
    .form-text{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    .color-plan { color: #00b0f0;}
    .modal-content {position: relative; right: 125px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 150%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    #ler {position: relative; width: 150px;}
    .pesquisa-anunciar {position: relative; left: 20px; width: 280px; text-align: center; font-size: 30px; top: 25px;}
    .whats {position: relative; margin-top: -60px; left: 360px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 11px;}
    .item-nome {font-size: 14px; font-weight: bold;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 3px; padding-left: 3px; padding-top: 3px; padding-right: 3px;}
    .anuncio-col {position: relative; padding-right: 15px; padding-left: 15px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
      .anuncie-aqui {top: -9px; position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 5px; right: 6px; font-size: 10px; padding-left: 5px; padding-right: 5px; margin-left: 200px; margin-top: -36px; width: 80px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #button{background-color: #00b0f0 !important;}

.btn-azul{
    background-color: #00b0f0;
    color: white;
    float: right;
    left: -130px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
    background-color: red;
    color: white;
    float: right;
    left: -153px;
    position: relative;
}










}

@media screen and (min-width: 823px)
{
     .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .bg-light {background-color: #00b0f0 !important;}
    #fonte-cor {color:white; font-weight: lighter;}
    .formulario {width: 265px; position: relative; left: 270px; top: 40px;}
    .btn-enviar {float: left; position: relative; left: 75px; bottom: -10px;}
    .quem-somos {width: 320px; position: relative; left: 20px; top: 10px;}
    p {text-align: justify;}
    .foto{position: relative; left: 0px; bottom: 0px; margin-bottom: 20px;}
    .btn-direita {position: relative; left: -120px; text-align: center;}
    .logo {position: relative; top: 40px;}
    .logo2 {position: relative;  margin-bottom: 20px; margin-top: 120px;}
    .all {position: relative; bottom: 17px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px; left: 75px;}
    .itens2 {position: relative; bottom: 62px; right: 90px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .label-text {display:none;}
    #cidades{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 70px; bottom: 15px;}
    .form-text{background-size: 20px;  width: 210px; border-radius: 5px; height: 35px; position: relative; left: 30px;}
    .color-plan { color: #00b0f0;}
    .modal-content {position: relative; right: 0px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 102%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    #ler {position: relative; width: 150px;}
    .pesquisa-anunciar {position: relative; left: 20px; width: 280px; text-align: center; font-size: 30px; top: 25px;}
    .whats {position: relative; margin-top: -60px; left: 200px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 11px;}
    .item-nome {font-size: 14px; font-weight: bold;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 3px; padding-left: 3px; padding-top: 3px; padding-right: 3px;}
    .anuncio-col {position: relative; padding-right: 15px; padding-left: 15px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 30px; color: red; border-radius: 10px; bottom: 25px; right: 15px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #button{background-color: #00b0f0 !important;}


.btn-azul{
    background-color: #00b0f0;
    color: white;
    float: right;
    left: 70px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: right;
    left: 0px;
    position: relative;
}









}

@media screen and (min-width: 992px)
{
     .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .linha {width: 200px; position:relative; left: 500px;}
    .bg-light {background-color: #00b0f0 !important;}   
    #fonte-cor {color:white; font-weight: lighter;}
    #fonte-cor:hover {background-color:white; color: #00b0f0 !important; font-weight: lighter; border-radius:10px;}
    .formulario {width: 635px; position: relative; left: 325px; top:60px;}
    .btn-enviar {float: right; position: relative; left: 102px; bottom: 44px;}
    #rebaixo {position: relative; top: 10px;}
    .quem-somos {width: 900px; left:200px; position: relative; margin-top:35px; margin-bottom:40px;}
    p {text-align: justify; margin-left: 10px; margin-right: 10px;}
    #foto {width: 200px;}
    .foto {position: relative; left: 240px; bottom: 100px; margin-bottom: -75px; width: 200px;}
    .all {position: relative; bottom: 17px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px;left: 110px; width: 275px;font-size: 13px;}
    .itens2 {position: relative; bottom: 62px; right: 90px; font-size: 13px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .logo {position: relative; left: 0px; top: 30px; width: 20px;}
    .logo2 {margin-bottom: 100px; position: relative; left: 0px; width: 20px; top: 60px; margin-top: 50px;}
    #button{background-color: #00b0f0 !important;}
    .label-text {display:inline;}
    .btn-direita {position: relative; float: left; left: 520px;}
    #control {color: #495057; background-color: #fff; border-color: #80bdff; outline: 0; box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 25px; top: -9px;} .form-text{  width:198px; position: relative; left: 0px}
    .color-plan { color: black; }
    #cidades {position: relative; left: 5px;}
    .modal-content {position: relative; right: 310px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 226%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    .modal-header {display: -ms-flexbox; display: flex; -ms-flex-align: start; align-items: flex-start; -ms-flex-pack: justify; justify-content: space-between; padding: 1rem 1rem; border-bottom: 1px solid #dee2e6; border-top-left-radius: calc(.3rem - 1px); border-top-right-radius: calc(.3rem - 1px); background-color: #00b0f0 !important;}
    .login {margin-top: 80px; margin-bottom: 100px;}
    .pesquisa-anunciar {position: relative; left: 70px; width: 280px; text-align: center; font-size: 30px; top: -10px;}
    .tabela-item {position: relative; left: 5px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 14px;}
    .whats {position: relative; margin-top: -60px; left: 600px;}
    .item-nome {font-size: 14px; font-weight: bold; position: relative; left: 10px;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 25px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 10px; padding-left: 10px; padding-top: 10px; padding-right: 10px;}
    .modal-contento {position: relative; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0; width: 700px; right: 95px;}
    .container-anuncio {width: 500px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 30px; color: red; border-radius: 10px; bottom: 25px; right: 15px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

.btn-azul{
    background-color: #00b0f0;
    color: white;
    float: right;
    left: 70px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: right;
    left: 0px;
    position: relative;
}









}

@media screen and (min-width: 1024px)
{
    .linha {width: 200px; position:relative; left: 500px;}
    .bg-light {background-color: #00b0f0 !important;}   
    #fonte-cor {color:white; font-weight: lighter;}
    #fonte-cor:hover {background-color:white; color: #00b0f0 !important; font-weight: lighter; border-radius:10px;}
    .formulario {width: 635px; position: relative; left: 180px; top:60px;}
    .btn-enviar {float: right; position: relative; left: 102px; bottom: 44px;}
    #rebaixo {position: relative; top: 10px;}
    .quem-somos {width: 900px; left:60px; position: relative; margin-top:35px; margin-bottom:40px;}
    p {text-align: justify; margin-left: 10px; margin-right: 10px;}
    #foto {width: 200px;}
    .foto {position: relative; left: 240px; bottom: 100px; margin-bottom: -75px; width: 200px;}
    .all {position: relative; bottom: 17px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 50px;}
    .itens1 {position: relative; bottom: 35px;left: 110px; width: 275px;font-size: 13px;}
    .itens2 {position: relative; bottom: 62px; right: 90px; font-size: 13px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 70px;}
    .logo {position: relative; left: 0px; top: 30px; width: 20px; display: -webkit-inline-box;}
    .logo2 {margin-bottom: 100px; position: relative; left: 0px; width: 20px; top: 60px; margin-top: 0px;}
    #button{background-color: #00b0f0 !important;}
    .label-text {display:inline;}
    .btn-direita {position: relative; float: left; left: 290px;}
    #control {color: #495057; background-color: #fff; border-color: #80bdff; outline: 0; box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 25px; top: -9px;} .form-text{  width:198px; position: relative; left: 0px}
    .color-plan { color: black; }
    #cidades {position: relative; left: 5px;}
    .modal-content {position: relative; right: 250px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 200%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    .modal-header {display: -ms-flexbox; display: flex; -ms-flex-align: start; align-items: flex-start; -ms-flex-pack: justify; justify-content: space-between; padding: 1rem 1rem; border-bottom: 1px solid #dee2e6; border-top-left-radius: calc(.3rem - 1px); border-top-right-radius: calc(.3rem - 1px); background-color: #00b0f0 !important;}
    .login {margin-top: 80px; margin-bottom: 100px;}
    .pesquisa-anunciar {position: relative; left: 70px; width: 280px; text-align: center; font-size: 30px; top: -10px;}
    .tabela-item {position: relative; left: 5px;}


    .tabela{position: relative; left:0px; top:0px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0 ; margin-top: 15px; border-radius: 10px; padding-top: 15px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 14px;}
    .whats {position: relative; margin-top: -60px; left: 520px;}
    .item-nome {font-size: 14px; font-weight: bold; position: relative; left: 10px;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 25px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 10px; padding-left: 10px; padding-top: 10px; padding-right: 10px;}
    .modal-contento {position: relative; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0; width: 700px; right: 95px;}
    .container-anuncio {width: 500px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 3px; bottom: 5px; right: 15px; width: 105px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -22px;}
    .ubuntu {position: relative; top: 35px;}
    .total{position:relative; width: 700px; margin-top: 45px;}
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
  

.btn-azul{
    background-color: #00b0f0;
    color: white;
    float: right;
    left: 15px;
    position: relative;
    margin-bottom: 10px;
    width: 153px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: right;
    left: 0px;
    position: relative;
}












}

@media screen and (min-width: 1200px)
{
    .linha {width: 200px; position:relative; left: 500px;}
    .bg-light {background-color: #00b0f0 !important;}   
    #fonte-cor {color:white; font-weight: lighter;}
    #fonte-cor:hover {background-color:white; color: #00b0f0 !important; font-weight: lighter; border-radius:10px;}
    .formulario {width: 640px; position: relative; left: 335px; top:60px;}
    .btn-enviar {float: right; position: relative; left: 102px; bottom: 44px;}
    #rebaixo {position: relative; top: 10px;}
    .quem-somos {width: 900px; left:225px; position: relative; margin-top:35px; margin-bottom:40px;}
    p {text-align: justify; margin-left: 10px; margin-right: 10px;}
    #foto {width: 200px;}
    .foto {position: relative; left: 240px; bottom: 100px; margin-bottom: -75px; width: 200px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border:solid 1px;  margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .all {position: relative; bottom: 20px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 30px;}
    .itens1 {position: relative; bottom: 35px;left: 110px; width: 275px;font-size: 13px;}
    .itens2 {position: relative; bottom: 62px; right: 90px; font-size: 13px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 45px;}
    .logo {position: relative; left: -25px; top: 30px; width: 20px; display: -webkit-inline-box;}
    .logo2 {margin-bottom: 100px; position: relative; left: -60px; width: 20px; top: 60px; margin-top: 50px;}
    #button{background-color: #00b0f0 !important;}
    .label-text {display:inline;}
    .btn-direita {position: relative; float: left; left: 470px;}
    #control {color: #495057; background-color: #fff; border-color: #80bdff; outline: 0; box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 45px; top: -8px;}
    .form-text{  width:198px; position: relative; left: 0px}
    .color-plan { color: black; }
    #cidades {position: relative; left: 5px;}
    .modal-content {position: relative; right: 250px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 200%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    .modal-header {display: -ms-flexbox; display: flex; -ms-flex-align: start; align-items: flex-start; -ms-flex-pack: justify; justify-content: space-between; padding: 1rem 1rem; border-bottom: 1px solid #dee2e6; border-top-left-radius: calc(.3rem - 1px); border-top-right-radius: calc(.3rem - 1px); background-color: #00b0f0 !important;}
    .login {margin-top: 80px; margin-bottom: 100px;}
    .pesquisa-anunciar {position: relative; left: 70px; width: 280px; text-align: center; font-size: 30px; top: -10px;}
    .tabela-item {position: relative; left: 5px;}



    .tabela {position: relative; left: 0px; bottom: 50px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; margin-top: 0px; border-radius: 10px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 14px;}
    .whats {position: relative; margin-top: -60px; left: 645px;}
    .item-nome {font-size: 14px; font-weight: bold; position: relative; left: 10px;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 25px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: green; border-radius: 10px; padding-bottom: 10px; padding-left: 10px; padding-top: 10px; padding-right: 10px;}
    .modal-contento {position: relative; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0; width: 700px; right: 95px;}
    .container-anuncio {width: 500px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 3px; bottom: 5px; right: 15px; width: 105px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -20px;}
    .ubuntu {position: relative; top: 35px;}
    .total{position:relative; width: 700px; }
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}



.btn-azul{
    background-color: #00b0f0;
    color: white;
    float: right;
    left: 70px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: right;
    left: 0px;
    position: relative;
}










}

@media screen and (min-width: 1250px)
{
    .linha {width: 200px; position:relative; left: 500px;}
    .bg-light {background-color: #00b0f0 !important;}   
    #fonte-cor {color:white; font-weight: lighter;}
    #fonte-cor:hover {background-color:white; color: #00b0f0 !important; font-weight: lighter; border-radius:10px;}
    .formulario {width: 700px; position: relative; left: 265px; top:60px;}
    .btn-enviar {float: right; position: relative; left: 102px; bottom: 44px;}
    #rebaixo {position: relative; top: 10px;}
    .quem-somos {width: 900px; left:225px; position: relative; margin-top:35px; margin-bottom:40px;}
    p {text-align: justify; margin-left: 10px; margin-right: 10px;}
    #foto {width: 200px;}
    .foto {position: relative; left: 240px; bottom: 100px; margin-bottom: -75px; width: 200px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border:solid 1px;  margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .all {position: relative; bottom: 20px;}
    .li {color: white;}
    .valor {color: black; position: relative; top: 30px;}
    .icons {margin-left: 5px;}
    .assinar {position: relative; top: 30px;}
    .itens1 {position: relative; bottom: 35px;left: 110px; width: 275px;font-size: 13px;}
    .itens2 {position: relative; bottom: 62px; right: 90px; font-size: 13px;}
    .itens3 {position: relative; bottom: 60px;}
    .valor2 {position: relative; bottom: 45px; color: white;}
    .all-plano {position: relative; top: 45px;}
    .logo {position: relative; left: -25px; top: 30px; width: 20px; margin-bottom: 0px; display: -webkit-inline-box;}
    .logo2 {margin-bottom: 100px; position: relative; left: -45px; width: 20px; top: 20px; margin-top: 0px;}
    #button{background-color: #00b0f0 !important;}
    .label-text {display:inline;}
    .btn-direita {position: relative; float: left; left: 470px;}
    #control {color: #495057; background-color: #fff; border-color: #80bdff; outline: 0; box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);}
    #form-group{background-size: 20px;  width: 120px; border-radius: 5px; height: 35px; position: relative; left: 45px; top: -8px;}
    .form-text{  width:198px; position: relative; left: 0px}
    .color-plan { color: black; }
    #cidades {position: relative; left: 5px;}
    .modal-content {position: relative; right: 250px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 200%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
    .modal-header {display: -ms-flexbox; display: flex; -ms-flex-align: start; align-items: flex-start; -ms-flex-pack: justify; justify-content: space-between; padding: 1rem 1rem; border-bottom: 1px solid #dee2e6; border-top-left-radius: calc(.3rem - 1px); border-top-right-radius: calc(.3rem - 1px); background-color: #00b0f0 !important;}
    .login {margin-top: 80px; margin-bottom: 100px;}
    .pesquisa-anunciar {position: relative; left: 70px; width: 280px; text-align: center; font-size: 30px; top: -10px;}
    .tabela-item {position: relative; left: 5px;}
    .tabela {position: relative; left: 0px; bottom: 50px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0; margin-top: 0px; border-radius: 10px; margin-bottom: 20px;}
    .item-tabela {position: relative; top: -6px; line-height: 5px; font-size: 14px;}
    .item-crm {position: relative; top: 0px; line-height: 5px; font-size: 14px;}
    .whats {position: relative; margin-top: -60px; left: 645px;}
    .item-nome {font-size: 14px; font-weight: bold; position: relative; left: 15px;}
    .anuncio {margin-bottom: 20px; margin-top: 20px; margin-left: 25px; border: solid 1px; border-top-color: currentcolor; border-right-color: currentcolor; border-bottom-color: currentcolor; border-left-color: currentcolor; border-color: #00b0f0; border-radius: 10px; padding-bottom: 10px; padding-left: 10px; padding-top: 10px; padding-right: 10px;}
    .modal-contento {position: relative; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0; width: 950px; right: 200px;}
    .container-anuncio {width: 500px;}
    .footer{ background-color: #00b0f0 !important; color: white;}
    .anuncie-aqui {position: relative; float: right; border: solid 1px; height: 20px; color: red; border-radius: 3px; bottom: 5px; right: 15px; width: 105px;}
    .plano_a {background-color: white; text-align: center; margin-left: 5px; border: solid 1px; margin-top: 30px; margin-bottom: 30px; height: 470px;}
    .plan-btn {background-color: #a29b9bd6; width: 280px; border-radius: 3px; margin-left: 30px; color: black;}
    .pontilhado {margin-top: -30px;}
    .recomendado {background-color: green; color: white; margin-bottom: -20px;}
    .ubuntu {position: relative; top: 35px;}
    .total{position:relative; width: 700px;} 
    .form-controle{display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #00b0f0 !important; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    #saude {position: relative; top: -3px;  left: 9px;}

.np-a{

    width: 100%;
}

.btn.btn-lg {
    background-color: #00b0f0;
    color: white;
}

.btn-azul{
    background-color: #00b0f0;
    color: white;
    float: right;
    left: 70px;
    position: relative;
    margin-bottom: 10px;
}

.btn-vermelho{
   background-color: red;
    color: white;
    float: right;
    left: 0px;
    position: relative;
}
.background{
    background:#4950578a;
    border: solid 1px;
    padding-right: 140px;
}
.parametros{
    font-size: 13px;
    border: solid 1px;
}
.btn-blog {
    width: 390px;
}

}



